{% extends "layout.html" %}
{% block content %}
<!--Enter Name -->
<div class="enter-name">
    <div class="grid-100">
        <img src="/static/img/bear_avatar.svg" class="bear-avatar" />
    </div>
    <div class="grid-100">
        <!-- url_for generates the url for a particular route automatically, posting the results of the form to this url will feed the data into our function -->
        <form action="{{ url_for('save') }}" method="POST">
            <label>Name your bear</label>
            <!-- try to get the saves name value, if it doesn't exist default back to an empty string. "saves" is what we named the data that is passed to the index view -->
            <input type="text" name="name" value="{{ saves.get('name','') }}" autofocus>
            <input type="submit" value="Let's build it!">
        </form>
    </div>
</div>
{% endblock %}
